@model Lab_10.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Log in with another service.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                No external authentication service is configured.Please refer to the <a href="https://go.microsoft.com/fwlink/?LinkId=403804"> this article </a>details about how to set up the ASP.NET application to support through external services to log in.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { role = "form" })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-outline-dark" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="使用你的 @p.Caption 帐户登录">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
